[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
django-environ = "*"
djoser = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
pillow = "*"
psycopg2-binary = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.9"
